$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #112;
$base0: #333b3c;
$base1: #93a1a1;
$base2: #f8f5ed;
$base3: #fffff8;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;
$text-color: $base00;
$anchor-text-color: $yellow;
$background-color: $base3;
#navigation {
    text-align: center;
}

#navigation a {
    margin: 1em;
    display: inline-block;
}

div.site-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    font-family: "-apple-system", BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: $text-color;
    background-color: $background-color;
}

/*** anchor tags ***/

a:link,
a:visited,
a:hover,
a:active {
    color: $anchor-text-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*** logo ***/

.logo-container {
    text-align: center;
}

.logo {
    width: 96px;
    height: 96px;
    display: inline-block;
    background-size: cover;
    border-radius: 50%;
    -moz-border-radius: 50%;
    border: 2px solid $background-color;
    box-shadow: 0 0 0 3px $text-color;
}

/*** author ***/

.author-container h1 {
    font-size: 2.8em;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

/*** footer ***/

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 20px;
}

/*** media queries ***/


/* X-Small devices (phones, 480px and up) */

@media (min-width: 480px) {
    /* wrapper stays 480px wide past 480px wide and is kept centered */
    .wrapper {
        width: 480px;
        margin: 2.5% auto 0 auto;
    }
    div.site-content {
        width: 480px;
    }
}


/* All other devices (768px and up) */

@media (min-width: 768px) {
    /* past 768px the layout is changed and the wrapper has a fixed width of 680px
	to accomodate both the header column and the content column */
    .wrapper {
        width: 480px;
    }
    div.site-content {
        width: 680px;
    }
}


/* This makes the icons float left in a small viewport (when left aligned) */

@media (max-width: 768px) {
    header ul span.fa {
        float: left;
        padding-top: 3px;
    }
}

/* BLOCKQUOTE STYLES */


/* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
    display: inline;
}

table {
    border: collapse;
}

th,
td {
    padding: 5px;
}

table,
th,
td {
    border: 1px solid $text-color;
}