---
title: Blog
pagination: 
  enabled: true
  sort_reverse: true
layout: contentbase
---
<h1>Blog</h1>
{% for post in paginator.posts %}
  <b><a href="{{ post.url }}">{{ post.title }}</a></b>
  <br>
  <small>{{ post.date | date_to_long_string }}</small>
  <br>
  <br>
{% endfor %}

{% if paginator.previous_page %}
<a style="float:left;" href="{{ paginator.previous_page_path }}">Previous</a>
{% endif %}
{% if paginator.next_page %}
<a style="float:right;" href="{{ paginator.next_page_path }}">Next</a>
{% endif %}
