<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  <div id="navigation" class="clearfix">
    <a href="/">home/</a>
    <a href="/blog">blog/</a>
    <a href="/resume">resume/</a>
    <a href="/now">now/</a>
    <a href="/impossible">impossible/</a>
    <a href="/kb">kb/</a>
  </div>

  {{ content }}

  <div style="clear:both;"></div>
  <div class="poweredby">
      <!-- <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Made with <3</span></a> -->
  </div>
  </body>
</html>
